@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    font-family: 'VT323', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

* {
    box-sizing: border-box;
}

*:not(input) {
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
    height: 100vh;
}

canvas {
}

body {
    background: black;
}

.progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    transition: .3s;
}

.progress-bar--hidden {
    height: 0;
}

.progress-bar__line {
    background: #ce0737;
    height: 100%;
}

.init-screen {

}

.ready-alert {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #d2d2d2;
    opacity: 0;
    background: #9f062a;
    padding: 5px 10px;
    user-select: none;

}

.ready-alert--blinking {
    animation: 2s ease-in-out 1s infinite blinking;
}

@keyframes blinking {
    0%, 100% {
        opacity: 0;
    }

    25%, 75% {
        opacity: 1;
    }
}

.game-screen {
    position: fixed;
    background: black;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.game-menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-menu {
    position: relative;
    width: 70%;
    height: 70%;
    background: rgba(0, 0, 0, .4);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
}

.game-menu__exit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 25px;
}

.game-menu__list {
    display: grid;
    row-gap: 5px;
    width: 50%;
    margin-bottom: 15px;
}

.game-menu__list-item {
    text-align: center;
    padding: 5px 10px;
    background: rgba(255, 255, 255, .6);
}

.game-menu__countdown {
    font-size: 150px;
    color: white;
}

.clock-panel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    font-size: 30px;
}

.save-result {
    background: rgba(0, 0, 0, .6);
    padding: 10px 20px;
    color: white;
    text-align: center;
}

.save-result__input {
    font-size: 30px;
    background: transparent;
    border: 2px solid white;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'VT323';
    margin: 20px 0;
}

.save-result__btn {
    background: rgba(255, 255, 255, .1);
}

.leaderboard {
    width: 50%;
    color: white;
    max-height: 116px;
    overflow-y: auto;
    border: 1px solid white;
    padding: 10px;
}

/* /////////////////////////// */


body {
    margin: 0;
    overflow: hidden;
}

#stage {
}

.mainNav {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 10;

    pointer-events: none;
}

.mainNav__list {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.mainNav__el:not(:last-child) {
    margin-bottom: 50px;
}

.mainNav__link {
    display: inline-block;
    font-size: 170px;
    text-decoration: none;
    opacity: 0;
    line-height: 0.8;
}
